.Movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 2vw;
    margin-top: 1.5vw;
}
.MoviesButton {
    text-align: center;
}

.MoviesButton button {
    background: none;
    border: none;
    height: 3.2vw;
    width: 3.2vw;
    margin: .5vw;
}

.icon {
    color: azure;
    background: #2A2D34;
    width: 3vw;
    height: 3vw;
    cursor: pointer;
}

.icon:hover {
    color: #202328;
    background: azure;
    transition: .8s;
}
