.MovieDetails {
    color: azure;
    background: #2A2D34;
    margin: 2%;
    padding: 1vw;
}

.MovieDetails[id='dark'] {
    background: gray;
}

.MovieDetailsTitle {
    font-size: 3vw;
    margin-top: 0;
    margin-bottom: 2%;
}

.MovieDetails[id='dark'] h2 {
    color: #FFDB4C;
}

.MovieDetailsInfo {
    display: flex;
}

.MovieDetailsInfoData {
    margin-left: 3%;
    font-size: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.MovieDetailsDescription p {
    font-size: 1.5vw;
    text-align: justify;
}

.MovieDetailsBtnBlock {
    width: 100%;
    text-align: center;
}

.MovieDetails  button{
    background: #202328;
    color: azure;
    font-size: 2vw;
    border: none;
    width: 7vw;
    height: 3vw;
    cursor: pointer;
}

.MovieDetails[id='dark'] button{
    background: #FFDB4C;
    color: #202328;
}
