.Header {
    height: 5vw;
    width: 100%;
    background: #2A2D34;
    color: azure;
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
    align-items: center;
    box-sizing: border-box;
}

.Header a {
    text-decoration: none;
    font-size: 3vw;
    font-weight: bold;
    color: azure;
}

.Header a[class='active'] {
    color: #ccc;
}

.HeaderNav {
    display: flex;
    width: 85%;
    justify-content: space-evenly;
}

.HeaderUser {
    display: flex;
    justify-content: center;
    align-items: center;
}

.HeaderUserName {
    border-radius: 50%;
    background: #FFDB4C;
    height: 3vw;
    width: 3vw;
    color: #2A2D34;
    font-size: 2vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
}

.HeaderUserLogout {
    font-size: 1vw;
    cursor: pointer;
    margin-right: 1vw;
}